<a href="https://colab.research.google.com/github/ArandasSheikh/House-Price-Prediction-Using-Machine-Learning/blob/main/House_Price_Prediction_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Load the house price dataset

data =pd.read_csv('/content/House Price Prediction Dataset.csv')
data

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056
...,...,...,...,...,...,...,...,...,...,...
1995,1996,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,No,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,No,482525

In [ ]:
le = LabelEncoder()
data['Garage']=le.fit_transform(data['Garage'])

In [ ]:
df_encoded = pd.get_dummies(data, columns=['Location', 'Condition'],
    drop_first=True)
df_encoded.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Garage,Price,Location_Rural,Location_Suburban,Location_Urban,Condition_Fair,Condition_Good,Condition_Poor
0,1,1360,5,4,3,1970,0,149919,False,False,False,False,False,False
1,2,4272,5,4,3,1958,0,424998,False,False,False,False,False,False
2,3,3592,2,2,3,1938,0,266746,False,False,False,False,True,False
3,4,966,4,2,2,1902,1,244020,False,True,False,True,False,False
4,5,4926,1,4,2,1975,1,636056,False,False,False,True,False,False

In [ ]:
data

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,0,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,0,424998
2,3,3592,2,2,3,1938,Downtown,Good,0,266746
3,4,966,4,2,2,1902,Suburban,Fair,1,244020
4,5,4926,1,4,2,1975,Downtown,Fair,1,636056
...,...,...,...,...,...,...,...,...,...,...
1995,1996,4994,5,4,3,1923,Suburban,Poor,0,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,1,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,0,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,1,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,0,482525

In [ ]:
# Check for missing values
data.isnull().sum()

Id           0
Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

In [ ]:
data.columns

Index(['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt',
       'Location', 'Condition', 'Garage', 'Price'],
      dtype='object')

In [ ]:

# Select input features (independent variables) and target variable

X = df_encoded.drop('Price', axis = 1)
y = df_encoded['Price']

# Split the dataset into 80% training and 20% testing data
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# X_train
# X_test
# y_test
# y_train

In [ ]:
scaler = StandardScaler()

# Fit scaler on training data and transform it
x_train_scaler = scaler.fit_transform(X_train)

# Transform test data using the same scaler
x_test_scaler = scaler.transform(X_test)

In [ ]:
model = LinearRegression()

# Train the model using training data
model.fit(x_train_scaler,y_train)

# Predict house prices on test data
model.predict(x_test_scaler)

# The original X_train had 13 features including 'Id' and the one-hot encoded columns.
# The new_house input must match this structure and order.
# X_train columns order: ['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt', 'Garage', 'Location_Rural', 'Location_Suburban', 'Location_Urban', 'Condition_Fair', 'Condition_Good', 'Condition_Poor']

new_house = [[
    0,      # Id (placeholder, as it's not a predictive feature)
    2500,   # Area
    3,      # Bedrooms
    2,      # Bathrooms
    2,      # Floors
    2005,   # YearBuilt
    1,      # Garage (Yes=1, No=0)
    0,      # Location_Rural (assuming Urban, so Rural=0)
    0,      # Location_Suburban (assuming Urban, so Suburban=0)
    1,      # Location_Urban (1 for Urban, based on original intent for Location)
    1,      # Condition_Fair (1 for Fair, based on original intent for Condition)
    0,      # Condition_Good (assuming Fair, so Good=0)
    0       # Condition_Poor (assuming Fair, so Poor=0)
]]

new_house_scaled = scaler.transform(new_house)
predicted_price = model.predict(new_house_scaled)
print(predicted_price)

[566900.84417143]

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.metrics import mean_absolute_error
y_pred=model.predict(x_test_scaler)


mae = mean_absolute_error(y_test, y_pred)
# Print evaluation results
print("MAE:", mae)

MAE: 242867.44926338625

In [ ]:
from sklearn.metrics import r2_score

y_pred=model.predict(x_test_scaler)

r2 = r2_score(y_test,y_pred)
# Print evaluation results
print(f"R-squared score: {r2}")

R-squared score: -0.006181784611834162

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
# Print evaluation results
print("RMSE:", rmse)

RMSE: 279785.21069002635